<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning App with Flask
		</div>
		<h2>A text classifier for article news</h2>

	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Text Here</p>
		<!-- <input type="text" name="text"/> -->
		<textarea name="text" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">

	</form>

	</div>
	<div id="powered_by">
	<a href="https://oscar-defelice.github.io">
		<img src="https://user-images.githubusercontent.com/49638680/97081235-439be280-1601-11eb-919c-5b7ebda3d6c5.png" height="16" />
	</a>
	Powered by
	<a href="https://oscar-defelice.github.io">Oscar de felice</a>
	</div>
</body>
</html>
